<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="merchant.css"  type="text/css" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/ZyZhR2j.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav"  width="100px">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/merchants/new">New</a>
            <a href="#">Edit</a>
            <a href="/merchants">Index</a>
            <a href="#">Show</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">New</a>
            <a href="#">Edit</a>
            <a href="#">Index</a>
            <a href="#">Show</a>
          </div>
        </div>
      </div>
      <% @merchants.each do |merchant| %>
      <div class="merchants">
        <ul>
          <li>Id / <%= merchant.id %></li>
          <li>Merchant / <%= merchant.name %></li>
          <li>Created-at / <%= merchant.created_at %></li>
          <li>Updated-at / <%= merchant.updated_at %></li>
          <a class='buttons' href="/merchants/<%= merchant.id  %>/edit">Edit</a>
          <form action="/merchants/<%= merchant.id %>" method="post">
            <a class='buttons' href="/merchants/<%= merchant.id  %>">Delete</a>
            <form action="/merchants/<%= merchant.id %>" method="delete">
          </ul>
        </form>
      </div>
  <% end %>
  </body>
</html>
